<!DOCTYPE html>
<html lang="en">
<title>캡챠</title>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Le-q6kUAAAAAFPDTU6lct7ZRRN7vK55hVF4Icp3"></script>
</head>
<script>

</script>

<body>

구글 캡챠 가이드 :
<a text="ddd" href="https://scorpio-mercury.tistory.com/24">여기 들어가서 따라하시면 됩니다.</a>
<p th:text='${recaptcha}'></p>

</body>
</html>